svg {
	display:inline;
	width:80px;
	height:70px;
}

p.question_text {
	display:inline;
	height:80px;
	line-height:80px;
}

td, th{
	min-width: 50px;
	text-align: center;
}
td:nth-child(2), th:nth-child(2) {
	text-align:left;
}

button {
	width:100%;
}

button:hover {
	cursor:pointer;
}