#question_form
{
    position:relative;
}

#answer_list table {
	width:60%;
}
#answer_list label, #answer_list input {
    display:inline-block;
}

#question_textarea {
    height:100px;
}

#question_textarea, #tag_textarea, #explanation_textarea, textarea.answer {
    width:90%;
    overflow:auto;
    resize:both;
}

#adder {
	margin-left:30px;
}

#preview_view {
	display:none;
}