body {
    background-color:#BF867E;
    margin:0;
    padding:0;
}
#body {
    position:relative;
    width:85%;
	min-width:600px;
    margin-left:7.5%;
    margin-right:7.5%;
    font-family: "Palatino Linotype", "Palatino", serif;
    background-color:white;
    z-index:1;
    
    -moz-box-shadow: -2px 3px #2A2A2A;
    -webkit-box-shadow: -2px 3px #2A2A2A;
    box-shadow: -2px 3px 15px #2A2A2A;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#shadow_box {
    -moz-box-shadow: 2px 3px 15px #2A2A2A;
    -webkit-box-shadow: 2px 3px 15px #2A2A2A;
    box-shadow: 2px 3px 15px #2A2A2A;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#layout_bottom_buffer {
    visibility:hidden;
}

#banner {
    position:relative;
    width:100%;
    border-bottom:solid black 1px;
}
#banner a.title {
    display:block;
    padding:20px;
    font-size:200%;
}

a.title {
    text-decoration:none;
    color:black;
}

#subscript {
    position:absolute;
    right:5px;
    bottom:5px;
}

#content-wrapper {
    position:relative;
    overflow:auto;
    min-height:50px;
}
#menu, #content {
    margin:0;
    padding:0;
    float:left;
}
#menu {
    width:150px;
}
#menu img {
    position:absolute;
    top:6px;
    width:20px;
    height:20px;
}
#menu p {
    margin:0;
    height:18px;
    padding:3px 3px 3px 5px;
    font-size:80%;
    font:12px/18px 'Lucida Grande','Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
    font-weight:bold;
    color:white;
    background-color:#A00000;
}
#menu ul {
    margin:0;
    padding:0;
    list-style:none;
}
#menu ul li {
    position:relative;
    padding:5px;
    padding-left:8px;
}
#menu ul li:hover {
    text-decoration:underline;
    cursor:pointer;
}
#menu ul li a {
    color:black;
    text-decoration:none;
    margin-left:28px;
}
#content {
    min-height:300px;
    border-left:solid black 1px;
    /* Firefox */
    width: -moz-calc(100% - 152px);
    /* WebKit */
    width: -webkit-calc(100% - 152px);
    /* Opera */
    width: -o-calc(100% - 152px);
    /* Standard */
    width: calc(100% - 152px);
}

form label {
    display:block;
}

#test_list {
    list-style:none;
}
#test_list li {
    font-size:120%;
    margin-bottom:15px;
}
#test_list li ul li {
    font-size:80%;
    cursor:pointer;
}
.list {
    margin-left:30px;
}

.warning {
    margin:0;
    padding:0;
    list-style:none;
    font-size:80%;
    color:red;
}

.note {
    margin:0;
    padding:0;
    font-size:80%;
}

p, h1, h2, h3, h4, h5, form, button, table {
    position:relative;
    margin:15px;
    font-weight:normal;
}
h2, h3, h4, h5 {
    text-transform:uppercase;
}
div {
    position:relative;
}

td {
    padding-right:8px;
}

.implied_link {
    font-size:100%;
    text-decoration:none;
    color:black;
}
.implied_link:hover {
    text-decoration:underline;
}

.unavailable {
    margin:auto;
    display:table-cell;
    width:400px;
    padding:60px;
}

.disabled {
    color:#444444;
}

.expander {
    position:relative;
}
.expander_head {
    position:relative;
    text-transform:uppercase;
    display:block;
}
.expander_head:hover * {
    text-decoration:underline;
}
.expander_head * {
    display:inline-block;
}
.expander_content {
    display:none;
    margin:10px 0px 10px 30px;
}
.toggle_up, .toggle_down {
    margin-left:10px;
}
.toggle_up {
    display:none;
}