ul.correction_list {
    margin-left:30px;
}

li.selected {
    
}
li.unselected {
    list-style:none;
}

h3.question_header {
    display:inline;
    margin:0 0 0 15px;
}

div.question_body {
    position:relative;
    margin-bottom:30px;
}

.explanation {
    font-weight:bold;
}

img.correction {
    position:absolute;
    left:15px;
}
img.correction_indicator {
    position:absolute;
    width:17px;
    left:-5px;
    top:0px;
}